* { /*this is a css reset. the purpose of this is to reduce browser inconsistancies*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2 {
	color: rgb(204,90,104);
}

p {
	line-height: 1.5em;
	margin: 1.5em;
}

.logo {
	width: 30%;
	float: left;
}

#subTagLine {
	color: rgb(21,111,153);
	/*text-align: right;*/
	margin-left: 300px;
}

body {
	font-family: arial, sans-serif;
	color: white;
}

ul {
	margin: 1.5em;
}

h3, h4 {
	margin: 1.5em;
}

#deskImage {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
		url("../images/Desk2.jpeg");
	background-repeat: no-repeat;
	height: 69.25vw; /*view port width, image is 69.25% of the width*/
	/*padding-bottom: 69.25%;*/
	background-size: 100% auto;
}

.clear:after { /*psuedotag*/
	content: ""; /*this turns on the psuedotag*/
	display: block;
	clear: both; /*this clears both left and right float*/
}

/*#belowHeader {
	background: url("../images/Desk2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*#navBar {
	width: 100%;
	height: 117px;
	/*background: url("Mountains.jpg");
	background-size: cover;
}*/

#navWrapper {
	height: 60px;
	width: 292px;
	float: right;
	/*background: rgb(204,90,104);*/
	/*margin-left: auto;
	margin-right: 30px;*/
	opacity: 0.8;
	/*filter: alpha (opacity=70); /*IE earlier*/
}

#navWrapper ul li {
	list-style: none;
	display: inline;
	/*font-weight: bold;*/
	padding: 10px;
}

#navWrapper a {
	color: black;
	text-decoration: none;
}

#navWrapper ul li:hover {
	background: rgb(255,207,201);
	transition: all 0.45s;
}



